Client/node_modules

Server/backend/.env
Server/backend/buildings.py
Server/backend/populatedb.py
Server/backend/Dockerfile
Server/backend/docker-compose.yml
Server/backend/.dockerignore
Server/backend/requirements.txt
Server/audit.txt
Server/auth_errors.txt
Server/auth_fail_debug.txt
Server/currentaudit.txt
Server/docker_inspect_mydb_info.txt
Server/docker_inspect_server_info.txt
Server/docker_logs.txt
Server/logs.txt
Server/pg_hba.conf
Server/.venv/
