.navbar{
    border: none;
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    box-sizing: border-box;
    width: 75vw;
    justify-content: space-evenly;
    padding-bottom: 1em;
    min-height: 4em;
    position: absolute;
    z-index: 9999;
}


