.searchbar{
    display:flex;
    justify-content: space-evenly;
    width: 500px;
}

.searchbar > input{
    border: none;
    outline: none;
    padding: 1rem;
    margin: 0;
    border-radius: 20px;
    width: 500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    background: whitesmoke;
    color: black;
}

.searchbar > button{
    position: relative;
    right: 3.5rem;
}

.navbar{
    border: none;
    background: none;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 1em;
}

button,
button:focus,
button:active,
button:focus-visible{
    border: none;
    outline: none;
    background: none;
}


